### Read YAML with pandas

- Pandas doesn't have a specific method for reading YAML files
- However, you can use pandas to parse a JSON object or file
- Create a function that transforms a yaml file into a pandas DataFrame

In [ ]:
import pandas as pd

### Fire Fighters versus Police Officers

- Using the Salaries.csv file calculate:
- What is the ratio between people in the fire department over people in the police department
- What is the mean salary of the police department? Use the "BaseSalary" column.
- What is the mean salary of the fire department? Use the "BaseSalary" column.

In [ ]:
salaries_df = pd.read_csv('Salaries.csv', index_col=0)
job_title = salaries_df.iloc[2]

# Define a function to return all rows containing the job title 'POLICE'

def find_police(x):
    return "POLICE" in x

salaries_df['isPolice'] = salaries_df['JobTitle'].apply(find_police)
salaries_df[['JobTitle','isPolice']]

police_dep = salaries_df['isPolice'].sum()

# Define a function to return all rows containing the job title 'POLICE'

def find_fire(x):
    return "FIRE" in x

salaries_df['isFire'] = salaries_df['JobTitle'].apply(find_fire)
salaries_df[['JobTitle','isFire']]

fire_dep = salaries_df['isFire'].sum()

# Ratio of people in fire department to police department 

print(fire_dep / police_dep)

In [ ]:
# Calculate mean salary of police department

police_df = salaries_df[salaries_df['isPolice']]
police_mean_salary = police_df['BasePay'].sum() / police_dep

fire_df = salaries_df[salaries_df['isFire']]
fire_mean_salary = fire_df['BasePay'].sum() / fire_dep
print("The average salary for the police department is {0:.2f} and the average salary for the fire department is {1:.2f}".format(police_mean_salary, fire_mean_salary))

### DataFrame Manipulation

- How many unique jobs are there? Look at the unique method in pandas
- Count how many people have the first name "John"
- Find the surname of everyone whose first name is more than 6 characters long

In [89]:
unique_jobs = salaries_df['JobTitle'].nunique()
print(unique_jobs)

def find_john(x):
    return 'JOHN' in x

salaries_df['isJohn'] = salaries_df['EmployeeName'].apply(find_john)
salaries_df['isJohn'].sum()

def surnames(x):
    return x.split()[1]

salaries_df['Surname'] = salaries_df['EmployeeName'].apply(surnames)

def surname_letters(x):
    return len(x) > 6

salaries_df['Surname'] = salaries_df['Surname'].apply(surname_letters)
salaries_df[salaries_df['Surname']]

93

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,isPolice,isFire,isJohn,FirstName,Surname
Id,,,,,,,,,,,,,,,,,
AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,True,False,False,GARY,True
AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,True,False,False,ALBERT,True
AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,False,True,False,PATRICK,True
AF,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN,False,False,False,DAVID,True
AH,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN,False,False,False,DAVID,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZQ,SEAN CONNOLLY,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.96,NaN,180394.14,180394.14,2011,NaN,San Francisco,NaN,False,False,False,SEAN,True
ZT,JOSHUA MILSTEIN,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.94,NaN,180394.13,180394.13,2011,NaN,San Francisco,NaN,False,False,False,JOSHUA,True
ZU,ELIZABETH SALVESON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.23,0.00,3537.86,NaN,180394.09,180394.09,2011,NaN,San Francisco,NaN,False,False,False,ELIZABETH,True
ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,False,False,False,LOUISE,True
ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,False,False,False,ELIZABETH,True

- Create a new column called "last_updated" where every value is equal to the current time (use the datetime module and format the date in ISO format).
- Create a new derived column called "time_ratio" in the DataFrame which is the proportion of overtime pay to base pay
- In one line, create a new DataFrame called "new_df" which contains only people who earn more than 100K base salary
- Now create a new derived column in "new_df" that is the sum of their pays, not including base salary
- Append a new row to the DataFrame to represent a made up character (Look up the append method in pandas)
- he/she has no benefits, so set this attribute to not a number using np.nan
- make up the other column values, but make sure they are standardised to the same convention as the other values in that col

In [103]:
import numpy as np
import datetime

salaries_df["last_updated"] = datetime.datetime.now()    

salaries_df["time_ratio"] = salaries_df['OvertimePay'] / salaries_df["BasePay"] 

new_df = salaries_df[salaries_df['BasePay'] > 100000]

new_char = pd.DataFrame({"EmployeeName":['QUENTIN BAGEL'],
                         "JobTitle":['SANDWICH ARTIST'],
                         "BasePay":[342000],
                         "OvertimePay":[0], 
                         "OtherPay":[40000], 
                         "Benefits":[np.nan], 
                         "Year": [1994], 
                         "Notes": [np.nan], 
                         "Agency": ['Barbados'], 
                         "Status": [np.nan]})
new_df = new_df.append(new_char)

new_df

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' on line 10 (3762435044.py, line 19)